<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>
    <form action="process-forgot-password" method="post" >
        <h1>Forgot Password</h1>
        <h2 th:text="${message}" id="error"></h2>
        <p>An OTP will be sent to your registered mail address</p>
        <input type="email" name="email" placeholder="enter your registered email" required />
        <input type="submit" />
        <a href="login" >Login Here</a>
    </form>
</body>
</html>